EMAIL_USER=gobright.growth@gmail.com
EMAIL_PASS=your_gmail_app_password_here
EMAIL_TO=gobright.growth@gmail.com
CLIENT_ORIGINS=http://localhost:5173,http://localhost:4173,https://gobright.in
PORT=5000
